<head>
  <title>Kiosque</title>
</head>
<style>
  body {
    user-select: none;
    cursor: default;
    /* cursor: none; */
  }
  body {
    background: black;
    color: white;
    font-family: system-ui, sans-serif;
    
  }  
</style>
<body>
  
  Usage : kiosque [-session name] url<br>

    <br>
  <button onclick="window.close()">Close</button>  
  <script>

  </script>
</body>
